.cursor-pointer {
    cursor: pointer;
}

.overflow-scroll-vertical {
    overflow-y: auto;
    max-height: 300px;
    /* min-height: 300px; */
    /* height: 300px; */
}

.container-list-text {
    font-size: small;
    /* font-size: 0.9rem; */
}

.icon {
    /* overflow: hidden; */
    max-height: 18px;
}

/* .icon>i {
    position: relative;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: calc(16px * -1);
    border-right: 16px solid transparent;
} */

.loading {
    display: none;
}

.trash-icon {
    max-width: 14px;
    max-height: 14px;
}

#container-list {
    min-height: 200px;
    /* min-height: 174px; */
}

.mono-16 {
    font-size: 14px;
    width: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.element-show {
    display: block;
}

.element-hide {
    display: none;
}

.modal-show {
    display: block;
    padding-right: 0px;
}

.modal-hide {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
