body {
    max-height: 600px;
    min-width: 330px;
    /* width: 330px;
    max-width: 330px; */
}

html {
    max-height: 600px;
    min-width: 330px;
    /* width: 330px;
    max-width: 330px; */
}
